* {
  box-sizing: border-box;
  }



body {
  margin: 0 auto;
  padding: 0;
  /*max-width: 1024px;*/
  height: 100%;
  font-family: "Cardona", "Garamond";
  /*background-image: url();
  background-repeat: no-repeat;
  background-size: cover;*/
}

/*.parallax {
      background-image: url("../images/New_York_Times_building.jpg");
      height: 100%;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }*/

#app div {
  /*align-items: center;*/
  text-align: center;
max-width: 100%;
margin: 0 auto;
}

.wrapper {
  display: flex;
  /*align-items: center;*/
  justify-content: center;
}

.container {
  flex: 1;
}

#app div > .title {
  margin-left: 0px;
  margin-right: 5px;
  border: 1px dotted red;
  width: 200px;
  background-color: gray;
}

#app div > .props {
  border: red 1px dotted;
  margin: 0;
  max-width: 75%;
}

li {
  border: blue 1px dotted;
}
